@charset "UTF-8";

body{
	margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	
}

/* サイト名 */
.wrapper{
	width: 100%;
}

.site h1 a	{color: #000000;
	text-decoration: none}

.site h1	{margin: 0;
	font-size: 30px}


.boxA{
	padding-top: 20px;
    padding-bottom: 10px;
}

.boxA, .box4, .box5 {
    padding-left: 15px;
    padding-right: 15px;
}
.sect_wrapper_wide {
    width: 92%;
    margin: 0 auto;
}

/* BOX1とBOX2を横に並べる設定 */
.hwrapper:after	{content: "";
	display: block;
	clear: both}

.box1	{float: left;
	width: auto}

.box2	{float: right;
	width: auto}

/*Box4-1とBoX4-2を横に並べる設定*/
.box4:after{
	content:"";
	display:block;
	clear:both;

}
.box4-1	{float: left;
	width: 70%;
	padding-right: 35px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box}

.box4-2{
	float:left;
	width:30%
}

/*box6-1、box6-2、box6-3を横に並べる設定*/
.box6:after{
	content:"";
	display:block;
	clear:both
}

.box6-1{
	float:left;
	width:32%;
	margin-right:1%
}

.box6-2{
	float:left;
	width:32%;
	margin-right:1%
}

.box6-3{
	float:left;
	width:33.3333%
}
.box_2cul_upimg dt strong {
    font-size: 2.59259vw;
}

/* ヘッダーナビ */
.menu ul{
	margin: 0;
	padding: 0;
	list-style: none
}

.menu li a	{display: block;
	padding: 10px 15px;
	color: #000000;
	font-size: 14px;
	text-decoration: none}

.menu li a:hover	{background-color: #eeeeee}

.menu ul:after	{content: "";
	display: block;
	clear: both}

.menu li	{float: left;
	width: auto}


/* ヘッダー画像 */
/*サイズ調節必要*/
.topimg	{
	/*max-width:100%;*/
	width:1132px;
	/*height:auto;*/
	height: 410px;
	vertical-align: bottom
	}
/* 本のコード */
/* .topimg{
	width: 100%;
	height: auto;
	vertical-align: bottom;
} */
/*キャッチコピー*/
.catch {
	margin:0;
	padding:15px;
	background-color:rgba(255, 255, 255, 0.7);
	font-size:28px
}

/*ヘッダー画像にキャッチコピーを重ねる*/
.top {
	position:relative
}

.catch {
	position:absolute;
	bottom:7%;
	left:3%;
}

/*概要*/
/*本と作りたいコンテンツの相違のためコメントアウト*/
.gaiyou a{
	display:block;
	color:#000;
	text-align: center;
	text-decoration: none
	}
.gaiyou a:hover	{
	opacity: 0.8
}

.gaiyou h1	{margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: normal
	}

.gaiyou p	{margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 12px}*
/*.gaiyou a	{display: block;
	background-color: #222222;
	color: #ffffff;
	text-align: center;
	text-decoration: none}

.gaiyou a:hover	{opacity: 0.8}

.gaiyou i	{display: block;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 38px}

.gaiyou .fa-database	{background-color: #bfbd13}

.gaiyou .fa-bar-chart-o	{background-color: #c58839}

.gaiyou .fa-envelope	{background-color: #859f46}

.gaiyou h1	{margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: normal}

.gaiyou p	{margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #524e3c;
	font-size: 12px}*/

/* お知らせ */
.news{
	padding:20px;
	border:solid 5px #dddddd
}
.news h1	{margin-top: 0;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight:normal
	}

.news ul	{margin: 0;
	padding: 0;
	list-style: none}

.news li a	{display: block;
	padding: 5px;
	border-bottom: dotted 2px #dddddd;
	color: #000000;
	font-size: 14px;
	text-decoration: none}

.news li a:hover	{background-color: #eeeeee}

.news time	{color: #888888;
	font-weight: bold}

.news a:after	{content: "";
	display: block;
	clear: both}

.news time	{float: left;
	width: 60px}

.news .text	{float: none;
	width: auto;
	margin-left: 60px}

.box4-1{
	padding-bottom:20px
}
/* SNSメニュー */
.follow ul	{margin: 0;
	padding: 0;
	list-style: none}

.follow li a	{display: block;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 4px;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none}

.follow li a:hover	{opacity: 0.8}

.follow-tw	{background-color: #63bafb}
.follow-fb	{background-color: #5288f7}
.follow-gp	{background-color: #f65d4a}

.follow i	{margin-right: 10px;
	font-size: 24px;
	vertical-align: middle}

/*補足説明*/
.follow p{
	margin-top:0;
	margin-bottom:20px;
	padding:10px;
	background-color:#dddddd;
	font-size:14px;
	text-align:center;
}

.follow-info{
	position: relative;
	background: #dddddd;
}

.arrow_box {
	position: relative;
	background: #dddddd;
}
.follow-info:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(221, 221, 221, 0);
	border-top-color: #dddddd;
	border-width: 15px;
	margin-left: -15px;
}
.arrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(221, 221, 221, 0);
	border-top-color: #dddddd;
	border-width: 15px;
	margin-left: -15px;
}

/*Featuresページ*/
.main-features{
	display:block;
    color: #ff2272;
}
.box7-top{
	background-color: #ffffff;
    padding: 7.46667vw 2.66667vw 8vw;
}
.wrapper .support-heading{
	text-align: center;
}

.wrapper .support-lead{
    line-height: 1.8;
    text-align: center;
}

.box7-threepoint{
	background-color: #eef4f8;
}
.threePoint-heading {
    font-size: 3.73333vw;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 6.66667vw;
}
.step{
	width: 1119px;
	margin: 0, auto;
	display: flex;
	list-style: none;
	justify-content: space-evenly;
}
.step li{
	width: 33.333%;
}
.step-band{
	background-color: #ff2272;
	padding: 12px, 0px;
	margin-right: 20px;
	text-align: center;
}
.step-contents{
	text-align: center;
}

/* span{
	color:#ff2272;
} */
/* .step-band, img{
margin: auto;
} */
/* グローバルナビ */
nav{
	text-align: center;
	margin-bottom: 20px;
	}
	nav ul{
	margin: 0 ;
	padding: 0 ;
	}
	nav li{
	list-style: none;
	display: inline-block;
	width: 10%;
	min-width: 90px;
	width :calc(100% / 3 - 30px);
	}
	nav li:not(:last-child){
	border-right:2px solid #ddd;
	}
	nav a{
	text-decoration: none;
	color: #333;
	}
	nav a.current{
	color: #00B0F0;
	border-bottom:2px solid #00B0F0;
	}
	nav a:hover{
	color:#F7CB4D;
	border-bottom:2px solid #F7CB4D;
	}

/* コース紹介ページ */
#topicpath{
	width: 100%;
	color: #666;
	margin: 20px 0;
	clear: both;
	font-size: 12px;
}
#topicpath ol{
	margin: 0;
	padding: 0;
	text-align: left;

	list-style: none;
}
#topicpath ol li{
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 16px;
}
#topicpath a{
	text-decoration: underline;

	color: #333333;
}
.main{
	width:70%;
	height:auto;
	float: right;
  }
  .curriculum-img{
	width: 16px;
	height: 16px;
	background-size: cover;
}
.curriculum-web h3{
	color: #e62e8a;		
}

  .course-title{
	  border-bottom: 1px dotted #bababa;
	  margin-bottom: 10px;
  }
  .course-title a {
    color: #444;
  }
  .course-title a span{
	margin-left: 10px;
    font-size: 12px;
    color: #ababab;

	transition: all .3s;
  }
  .curriculum-detail-text{
    font-size: 14px;
    margin-bottom: 10px;
}


.pad {
	height: 100px;
	margin-bottom: 4rem;
  }
  
/* サイドバー */
  .sidebar{
	/* background:aqua; */
/* 	width:30%;
	height:200px;
	float: left; */
	float: left;
    width: 22%;
    height: auto;
    margin-bottom: 30px;
  }

  .localNav {
    border-bottom: 1px solid #dddddd;
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px;

	list-style: none;
}
  .localNav-list{
	font-size: 12px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #666;
    list-style-type: none;
}
.localNav-title {
    display: block;
    padding: 15px 0 15px 7px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background: #f2f;
}
.localNav-sub li {
    font-weight: normal;
    list-style-type: none;
}
.localNav-sub a {
    display: block;
    padding: 15px 10px 15px 20px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    text-decoration: none;
    color: #666;
    position: relative;
    zoom: 1;
}
/* Web・DTPデザインコース */
  .curriculum-web{
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    overflow: hidden;
}
.curriculum-image{
	float: left;
	width: 30%;
}
.curriculum-image img{
	width: 100%;
}
img{
	vertical-align: bottom;
}
.curriculum-detail{
	width: 67%;
	float: right;
	
}
.curriculum-item_web h6{
	color: #e62e8a;
}
.curriculum-detail-text {
    font-size: 14px;
    margin-bottom: 10px;
}
.curriculum-web .btn_course {
    background-color: #e62e8a;
}

.curriculum-web .btn_course a {
    display: block;
    padding: 5px 0;
    color: #fff;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.btn_course {
    width: 100%;
    text-align: center;
    color: #fff;
    border-radius: 2px;
}
.btn_course a {
    display: block;
    padding: 5px 0;
    color: #fff;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.btn_course a:after {
    font-family: FontAwesome;
    content: "\f0da";
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -8px;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 16px;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/* プログラミングコース */
.curriculum-program{
	background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    overflow: hidden;
}

.curriculum-program h3 {
	margin-bottom: 10px;
    color: #00a0e8;
}
.curriculum-program .btn_course{
	background-color: #00a0e8;
}
/* オフィスコース */
.curriculum-item_office{
	background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    overflow: hidden;
}
.curriculum-item_office h3 {
    color: #fbc80e;
}
.curriculum-item_office .btn_course{
	background-color: #fbc80e;
}
.topicpath_footer{
	margin: 0 auto;
	position: relative;
	background-color: #f9f9f9;
	clear: both;

}
.topicpath_footer ol{
	margin: 6px 0 2px 10px;
	padding: 10px;
	overflow: hidden;
}
.topicpath_footer ol li{
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 16px;
}
.topicpath_footer ol li a{
	color: #333333;
	text-decoration: none;
}
.fwrapper-crriculum{
	clear: both;
}

/* 法人研修 */
.mb3em {
    margin-bottom: 3em !important;
}


.sect-main{
	background: #fff;
	border-bottom: 1px solid #ECECEC;
}
.mb0em {
    margin-bottom: 0 !important;
}

.wrap-3cul-box img {
    width: 100%;
    vertical-align: bottom;
}
.wrap-3cul-box img:hover {
	transform: scale(1.5, 1.5);
}
.wrap-3cul-box dl a {
    display: block;
    width: 100%;
    height: 100%;
}
a {
    color: #6b6b6b;
    text-decoration: none;
}
.wrap-3cul-box dl dt {
    position: absolute;
	bottom: 0;
	text-align: center;
    width: 100%;
	line-height: 1.4em;
	z-index: 1;
    padding: 0.8em 0;
}
.wrap-3cul-box dl dd {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
*, ::after, ::before {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
dd, dl, dt, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin-bottom: 3.333vw;
	text-align: center;
    padding: 0;
    text-align: left;
}

h2{
	text-align: center;
}
h2 .small center{
	font-size: 1.481vw;
}
.wrap-topics {
    /* font-size: 3.73333vw; */
    overflow-y: scroll;
    height: 10em;
    border: 1px solid #cecece;
    padding: 0.6em;
}
.msg_lead {
    text-align: center;
}
.msg_lead{
	font-size: 1.733vw;
    margin-bottom: 3.733vw;
}
.title_sub strong{
	color:#ff2272;
}
.txt_blue {
    color: #0736ab;
}
.btn_w80per {
    width: 80%;
	margin: 0 auto 1em;
}
.btn_w80per a{
	display: block;
	position: relative;
	text-align: center;
	background: #0736ab;
	color: #fff;
}
.area_white {
    padding: 3.684vw;
    border: 1px solid #0736ab;
    background: #fff;
    margin-bottom: 3.421vw;
}
img {
    width: 100%;
    vertical-align: bottom;
}
.box_2cul_upimg{
	background: #fff;
    margin: 0 0 4vw;
    padding: 0;
    box-shadow: 0px 0px 8px 1px #d7e3eb;
}
.box_2cul_upimg dt span{
	display:block;
}
.box_2cul_upimg dt strong{
    color: #0736ab;
}
.box_2cul_upimg dt{
	font-weight: bold;
    text-align: center;
}



/*お問い合わせ*/
/* contact.html */
/*1つ目*/
.form-area .form-txtarea textarea {
    width:100%;
    border: #818181 1px solid;
}

.heading-bigArea .heading-big {
    font-size: 5.2vw;
    font-weight: bold;
    line-height: 1.5;
    color: #000;
    text-align: center;
    margin-bottom: 10vw;
}
textarea {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}
.form-area .form-txt input {
    width: 39.81481vw;
    height: 3.51852vw;
    font-size: 1.48148vw;
    padding: 0 1.66667vw;
}
input {
    color: inherit;
    line-height:inherit
}

/*2つ目*/
#form_sample6 dd{
	margin: 10px 0 20px;
}
#form_sample6 dt{
	padding-left: 10px;
	border-left: 10px solid #68A6F9;
	margin-left: 8px;
}
.form-text-area area{
	padding: 0.92593vw 1.66667vw;
}
.form-area-white-inner .not-bottom {
    color: #6b6b6b;
    font-size: 2.93333vw;
    vertical-align: middle;
    font-weight: normal;
    display: inline-block;
    padding: 0 0 0 1.2em;
    letter-spacing: 0.5px;
}
.form-area .req {
    font-size: 1px;
    padding: 0.92593vw 1.11111vw 0.74074vw;
    margin: 0 1.66667vw 0 0;
}
.form-area .req {
    display: inline-block;
    font-size: 2.93333vw;
    color: #ffffff;
    line-height: 1;
    padding: 2.4vw 2.4vw 1.86667vw 2.4vw;
    background-color: #ff2272;
    letter-spacing: 0.6px;
    margin: 0 2.13333vw 0 0;
}
.form-area .form-txtarea textarea {
    
    border: #818181 1px solid;
    padding: 1.33333vw 7.2vw 1.33333vw 4vw;
}
.form-area .ex {
    color: #6b6b6b;
    padding: 1.33333vw 0 0;
}
.form input[type="text"]{
    font-size: 16px !important;
    border-radius: 0;
    height: 10.66667vw;
}

.form-area .opt {
    display: inline-block;
    font-size: 2.93333vw;
    color: #6b6b6b;
    border: 1px solid #818181;
    line-height: 1;
    padding: 2.13333vw 2.4vw 1.86667vw 2.4vw;
    background-color: #ffffff;
    letter-spacing: 0.6px;
    font-weight: bold;
    margin: 0 2.13333vw 0 0;
}
.note-bottom{
	color: #6b6b6b;
	display: inline;
	margin-left: 20px;
}
.form-area-white-inner > dt {
	font-weight: bold;
    line-height: 1;
    padding: 0 0 3.46667vw;
}
.form-area .form-txt input {
    /* width: 100%; */
    border: #818181 1px solid;
    height: 10.66667vw;
    padding: 0 7.2vw 0 4vw;
}
dl{
	margin: 0;
    padding: 0;
    text-align: left;
}

label>div{
	display: inline-block;
    margin-left: 0.6em;
    font-size: .8em;
    background: #ff2272;
    color: #fff;
    font-weight: normal;
    padding: 0.3em 0.4em;
    border-radius: 3px;
    vertical-align: bottom;
}

/* i="contactName" */
.textInput {
    margin-bottom: 1em;
}
.textField {
    font-size: 1.48148vw;
    margin-bottom: 2.4em;
}
.textInput input[type="text"] {
    width: 40%;
    border: #818181 1px solid;
    padding: 0 7.2vw 0 4vw;
}
input{
    font-size: inherit;
}
.textInput input{
	height: 2em;
}
.multilinableTextField textarea {
    width: 100%;
    border: #818181 1px solid;
    padding: 1.33333vw 7.2vw 1.33333vw 4vw;
    min-height: 8em;
}
input .fil{
	height: 2px;
}


.form-area-white-inner > dt {
    font-size: 4vw;
    font-weight: bold;
    line-height: 1;
    padding: 0 0 3.46667vw;
}
input {
    color: inherit;
	
    line-height: inherit;
}
.form-area .form-submit {
    width: 75.73333vw;
    margin: 0 auto;
    padding: 8vw 0 5.06667vw;
}





/* fwrapperをバーの形にする */
.fwrapper{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #9b8f8f;
	max-width: 100%;
}
.footer{
	margin: auto;
	max-width: 800px;
	padding: 10px;
}
.enter {
	padding: 4.62963vw 0 0;
    background-color: #ffffff;
}

/* コピーライト */
.copyright p	{margin: 0;
	color: #666666;
	font-size: 14px}

/* ボックスの左右 */
.hwrapper, .box4, .fwrapper, .box6
	{padding-left: 15px;
	padding-right: 15px}


/* ボックスの上下 */
.hwrapper	{padding-top: 20px;
	padding-bottom: 10px}

.box4	{padding-top: 20px;
	padding-bottom: 20px}

.box4-1{
	padding-bottom:20px
}

.box6{
	padding-top:20px
}

.box6-1, .box6-2, .box6-3{
	padding-bottom:10px
}



@media screen and (min-width: 768px){
	.area_content {
		padding-top: 1.296vw;
		margin-bottom: 1.204vw;
	}
	.title_main{
		font-size: 3.704vw;
		margin-bottom: 1.852vw;
	}
}



/* フォームの高さ(hight)を上げる仕方を調べる */
@media screen and (max-width: 767px){
	.form input .fil[type="text"], .form select {
		font-size: 16px !important;
		border-radius: 0;
		height: 10.66667vw;
	}
}

/* ########### 599px以下 ########### */
@media (max-width: 599px) {

/* ナビゲーション */
.menu li a	{padding: 10px 7px;
	font-size: 11px}


/* キャッチコピー */
.catch	{padding: 5px 10px;
	font-size: 12px}

}

@media screen and (min-width: 768px){
.form_contact .enter {
    padding: 4.62963vw 0 0;
}

@media screen and (min-width: 768px){
.form .heading-big {
    font-size: 3.7037vw;
}
@media screen and (min-width: 768px){
.form_contact .enter .heading-bigArea {
    padding: 0 0 3.7037vw;
}
.form_contact .enter .heading-bigArea {
    margin-bottom: 0;
    padding: 0 0 4vw;
}
@media screen and (min-width: 768px){
.form .heading-bigArea {
    margin-bottom: 4.62963vw;
}
.form .heading-lead {
    text-align: center;
}
.form-area .form-txtarea textarea {
    padding: 0.92593vw 1.66667vw;
}
.form-area-white {
    width: 92.59259vw;
    margin: 0 auto;
}
/*項目と入力フォームの上下幅*/
.form-area-white-inner > dt {
    font-size: 2.03704vw;
    padding: 0vw 3.7037vw;
}
.form-area-white-inner > dd {
    padding: 0 3.7037vw 4.16667vw;
    margin: 0 0 4.62963vw;
}
.form-area .ex {
    font-size: 1.2963vw;
    padding: 0.92593vw 0 0;
    margin: 0 1.66667vw 0 0;
    line-height: 1;
}
.form_contact .enter .form-submit {
    padding: 0.92593vw 0 1.85185vw;
}
.form-area-white {
    width: 92.59259vw;
    margin: 0 auto;
}
.form-area .form-submit button {
    font-size: 1.66667vw;
    border-radius: 0.74074vw;
    padding: 0.92593vw 0;
}

@media screen and (min-width: 768px), print
.form_contact .enter {
    padding: 4.62963vw 0 0;
}

@media screen and (min-width: 768px), print{
.cul_box_wrapper {
    margin-bottom: 4.444vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (min-width: 768px), print{

	.otoi textarea {
		width: 100%;
		border: #818181 1px solid;
		padding: 1.33333vw 7.2vw 1.33333vw 4vw;
		min-height: 8em;
	}
	.otoi textarea {
		padding: 0.92593vw 1.66667vw;
		font-size: 1.48148vw;
	}
	h2 {
		font-size: 3.7037vw;
	}
	p {
		font-size: 0.981vw;
	}

	.heading-bigArea p{
		font-size: 1.vw;
	}
	.inner-topics {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	.wrap-3cul-box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2em;
		flex-wrap: wrap;
	}
	.wrap-sect-index {
		font-size: 1.667vw;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.box-sect-index-75w {
		width: 74%;
	}
	.box-sect-index-25w {
		width: 25%;
	}
	.area_white {
    padding: 1.852vw;
	}
	.title_sub, .title_sub_l {
    font-size: 2.963vw;
    margin-bottom: 1.481vw;
	}
	.msg_lead, .msg_lead_l {
    font-size: 1.481vw;
    margin-bottom: 1.481vw;
	}
	.btn_w80per {
    width: 80%;
	}
	.btn_w80per a{
		font-size: 1.852vw;
    	padding: 0.6em;
    	border-radius: 0.463vw;
	}
	.box_2cul_upimg {
    	width: 48%;
    	margin-bottom: 1.481vw;
    	margin-right: 2%;
	}
	.box_2cul_upimg dt span {
    	padding: 1.481vw 1.481vw 1.296vw;
    	line-height: 1.4;
	}

	

}
@media screen and (min-width: 1080px){      /* sect-main */
	.sect-main {
		padding: 0 0 72px;
	}
	.wrap-sect-index {
		font-size: 1.8rem;
	}
}
@media screen and (min-width: 1080px){        /* inner-main */
.sect-main .inner-main:last-of-type, .sect-main .inner-main-w:last-of-type {
    padding-bottom: 14px;
}
@media screen and (min-width: 1080px){
	.sect-main .inner-main {
		padding: 56px 2em 28px;
		max-width: 1280px;
		margin: 0 auto;
	}
	.wrap-sect-index {
		font-size: 1.8rem;
	}
}


/* ########### 768px以上 ########### */
@media screen and (min-width: 768px){
	.wrap-3cul-box dl {
		width: 33%;
}

@media (min-width: 768px) {
	.form-area .req {
		font-size: 1.2037vw;
		padding: 0.92593vw 1.11111vw 0.74074vw;
		margin: 0 1.66667vw 0 0;
	}
	.form-txtarea{
		padding: 0.92593vw 1.66667vw;
	}
	.form input[type="text"]{
		font-size: 16px !important;
		border-radius: 0;
		height: 10.66667vw;
	}
	#menu	{
		display: block !important;
	}

	.menu ul	{margin: 0;
		padding: 0;
		list-style: none}
	
	.menu li a	{display: block;
		padding: 10px 15px;
		color: #000000;
		font-size: 14px;
		text-decoration: none}
	
	.menu li a:hover	{background-color: #eeeeee}
	
	.menu ul:after	{content: "";
		display: block;
		clear: both}
	
	.menu li	{float: left;
		width: auto}
}


/* ########### 1190px以上 ########### */
@media (min-width: 1190px) {
	/*全体の横幅を固定*/
	.box3, .box4, .header, .box6, .footer, .box7{
		width:1140px;
		margin-left:auto;
		margin-right:auto;
	}
	/*BOX Aの下に罫線を挿入*/
.hwrapper{
	margin-bottom:20px;
	border-bottom:solid 1px #dddddd
}}}


/*なぞ記述*/
section {
    display: block;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
